<h1>SwiftController#test_swift</h1>
</br>
<p><h3>Step1: Created the test directories</h3></p>
<p><b>Private directory name:</b> <%= @hash[:dirname_private] %></p>
<p><b>Public directory name:</b> <%= @hash[:dirname_public] %></p>
</br>
<p><h3>Step2: Uploaded the test files to the test directories</h3></p>
<p><b>Private directory listing:</b> <%= @hash[:directory_contents_private] %></p>
<p><b>Public directory listing:</b> <%= @hash[:directory_contents_public]%></p>
<br>
<p><b>Public file url:</b> <a href="<%= @hash[:public_file_url] %>"><%= @hash[:public_file_url] %></a></p>
<p><b>Private file temporary url:</b> <a href="<%= @hash[:private_file_temp_url] %>"><%= @hash[:private_file_temp_url] %></a></p>

