<h1>SwiftController#test_swift</h1>
</br>
<p><h3>Step1: Created the test directory</h3></p>
<p><b>Directory name:</b> <%= @hash[:dirname] %></p>
<p><b>Directory list before uploading the test file:</b> <%= @hash[:list_before] %></p>
</br>
<p><h3>Step2: Uploaded the test file to test directory</h3></p>
<p><b>Directory list after uploading the test file:</b> <%= @hash[:list_after] %></p>
<p><b>Uploaded file url:</b> <%= @hash[:file_url] %></p>
</br>
<p><h3>Step3: Deleted the test file</h3></p>
<p><b>Directory list after file deletion:</b> <%= @hash[:list_after_delete] %></p>